.login-bg{
    background: url('images/2.jpg') bottom left no-repeat fixed;
}

body.login-bg{
    background-color: cornflowerblue;
}

.block-login{
    background: rgba(39,84,209, 0.6);
    padding: 20px;
    border-radius: 10px;
}
form .form-group label{
    color: #000 !important;
}