.login-bg{
    background: url('images/1.jpg') bottom left no-repeat fixed;
}

body.login-bg{
    background-color: cornflowerblue;
}

.block-login{
    background: rgba(245, 0, 245, 0.2);
    padding: 20px;
    border-radius: 10px;
}
form .form-group label{
    color: #000 !important;
}